<footer>
    <div class="container">
	    <div class="footer-row">
            <div class="footer-link">
                <ul>
                    <li><a href="javascript:void(0)">{{'footer_link_home'|translate}}</a></li>
                    <li><a href="javascript:void(0)">{{'footer_link_company'|translate}}</a></li>
                    <li><a href="javascript:void(0)">{{'footer_link_profile'|translate}}</a></li>
                    <li><a href="javascript:void(0)">{{'footer_link_blog'|translate}}</a></li>
                </ul>
            </div>
            <div class="footer-text">
                <p>{{'footer_text'|translate:{year: todayDate|date:'yyyy' } }}</p>
            </div>
        </div>  
    </div>    
</footer>